{% extends 'common/usercommon.html' %}

{% load static %} 
{% block content %}
<br>
   <center><h2>Civil Registry - Application Guidelines</h2></center> <br>
    <center>
<table >
    <tr>
    <th><h3>Birth Certificate Application:</h3></th></tr>
   <tr><td> <ol>
        <li>Visit the Civil Registry website and log in to your account.</li>
        <li>Locate the "Birth Certificate" from "apply" section.or click <a href="..\applybirth">here</a></li>
        <li>Fill out the birth certificate application form with accurate information.</li>
        <li>Provide details such as the name of the child, date and place of birth, and parent's information.</li>
        <li>Attach the required documents, including proof of birth and identification documents of the child and parents.</li>
        <li>Submit the application form and documents.</li>
        <li>Make the payment for the service charges, if applicable.</li>
        <li>Track the application status at"Birth Certificate" from "Track Status" section.or click <a href="..\statusbirth">here</a></li>
        <li>Once approved,to download the digital copy of the birth certificate  click <a href="..\statusbirth">here</a></li>
    </ol>
</td></tr>
<tr><td>
    <h3>Death Certificate Application:</h3></td></tr>
    <tr><td><ol>
        <li>Visit the Civil Registry website and log in to your account.</li>
        <li>Locate the "Death Certificate" from "apply" section.or click <a href="..\applydeath">here</a></li>
        <li>Fill out the death certificate application form with accurate information.</li>
        <li>Provide details such as the name of the deceased, date and place of death, and cause of death.</li>
        <li>Attach the required documents, including proof of death and identification documents of the deceased.</li>
        <li>Submit the application form and documents.</li>
        <li>Make the payment for the service charges, if applicable.</li>
        <li>Track the application status at"Death Certificate" from "Track Status" section.or click <a href="..\statusdeath">here</a></li>
        <li>Once approved, to download the digital copy of the death certificate  click <a href="..\statusdeath">here</a></li>
    </ol>
</td></tr><tr><td>
    <h3>Marriage Certificate Application:</h3></td></tr>
   <tr><td> <ol>
        <li>Visit the Civil Registry website and log in to your account.</li>
        <li>Locate the "Marriage Certificate" from "apply" section.or click <a href="..\applymarriage">here</a></li>
        <li>Fill out the marriage certificate application form with accurate information.</li>
        <li>Provide details such as the names of the spouses, date and place of marriage, and witnesses' information.</li>
        <li>Attach the required documents, including proof of marriage and identification documents of the spouses and witnesses.</li>
        <li>Submit the application form and documents.</li>
        <li>Make the payment for the service charges, if applicable.</li>
        <li>Track the application status at"Marriage Certificate" from "Track Status" section.or click <a href="..\statusmarriage">here</a></li>
        <li>Once approved,to download the digital copy of the marriage certificate  click <a href="..\approvedmarriage">here</a></li>
    </ol>
</td></tr><tr><td>
    <h3>Driving License Application:</h3></td></tr>
    <tr><td><ol>
        <li>Visit the Civil Registry website and log in to your account.</li>
        <li>Locate the "Driving License" from "apply" section.or click <a href="..\applylicense">here</a></li>
        <li>Fill out the driving license application form with accurate information.</li>
        <li>Provide details such as your personal information, address, and previous license details (if applicable).</li>
        <li>Attach the required documents, including proof of identification, address, and any supporting documents.</li>
        <li>Submit the application form and documents.</li>
        <li>Make the payment for the license fees and other applicable charges.</li>
        <li>Track the application status at"Driving License" from "Track Status" section.or click <a href="..\statuslicense">here</a></li>
        <li>Once approved it will be deliverered  to the address.</li>
    </ol>
</td></tr><tr><td>
    <h3>Passport Application:</h3></td></tr>
    <tr><td><ol>
        <li>Visit the Civil Registry website and log in to your account.</li>
        <li>Locate the "Passport" from "apply" section.or click <a href="..\applypassport">here</a></li>
        <li>Fill out the passport application form with accurate information.</li>
        <li>Provide details such as your personal information, address, and travel details.</li>
        <li>Attach the required documents, including proof of identification, address, and supporting travel documents.</li>
        <li>Submit the application form and documents.</li>
        <li>Make the payment for the passport fees and any additional charges.</li>
        <li>Track the application status at"Passport" from "Track Status" section.or click <a href="..\statuspassport">here</a></li>
        <li>Once approved it will be deliverered  to the address.</li>
    </ol></td></tr><tr><td>

    <h3>Voter ID Application:</h3></td></tr>
    <tr><td><ol>
        <li>Visit the Civil Registry website and log in to your account.</li>
        <li>Locate the "Voters id" from "apply" section.or click <a href="..\applyvoters">here</a></li>
        <li>Fill out the voter ID application form with accurate information.</li>
        <li>Provide details such as your personal information, address, and previous electoral ID details (if applicable).</li>
        <li>Attach the required documents, including proof of identification, address, and any supporting documents.</li>
        <li>Submit the application form and documents.</li>
        <li>Make the payment for any applicable fees.</li>
        <li>Track the application status at"Voters id" from "Track Status" section.or click <a href="..\statusvoters">here</a></li>
        <li>Once approved it will be deliverered  to the address.</li>
    </ol></td></tr>
</table></center>
    {% endblock %}
