<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title> civil registry.</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Privatio Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<!-- //js -->
	<link
		href="{% static '//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' %}"
		rel='stylesheet' type='text/css'>
	<link href="{% static '//fonts.googleapis.com/css?family=Marcellus' %}" rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
</head>

<body>
	<!-- header -->
	<div class="header">
		<!-- <div class="container"> -->
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="logo">
					<a class="navbar-brand" href="..\index">Civil&nbsp;&nbsp; Registry <span>A Civilian
							Birthright</span></a>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				<nav class="link-effect-12" id="link-effect-12">
					<ul class="nav navbar-nav">
						<li><a href="..\index"><span>Home</span></a></li>
						<li><a href="..\services"><span>About</span></a></li>

						<li class="active"><a href="..\guest"><span>Guest</span></a></li>
						<li><a href="..\registration"><span>user Register</span></a></li>
						<li><a href="..\login"><span>Login</span></a></li>

					</ul>
				</nav>
			</div>
			<!-- .navbar-collapse -->
		</nav>
		<!-- </div> -->
	</div>
	<div class="container">

		<h2>Civil Registry - Application Guidelines</h2>

		<h3>Registration and Login:</h3>
		<ol>
			<li>Visit the Civil Registry website and click on the "Register" button to create a new account.</li>
			<li>Provide the required information, including your email and password, to complete the registration
				process.</li>
			<li>Once registered, click on the "Login" button and enter your credentials to access your account.</li>
		</ol>

		<h3>Application Form Submission:</h3>
		<ol>
			<li>After logging in, navigate to the appropriate section based on the type of certificate you are applying
				for (e.g., "Birth Certificate Application").</li>
			<li>Fill out the application form with accurate and complete information.</li>
			<li>Ensure all mandatory fields are filled in correctly, including personal details, parent information, and
				relevant dates.</li>
			<li>Review the form to confirm the accuracy of the provided information.</li>
		</ol>

		<h3>Document Upload:</h3>
		<ol>
			<li>Prepare the necessary documents required for the certificate application (e.g., proof of birth,
				identification documents, parents' details).</li>
			<li>Scan or take clear photos of the documents for digital submission.</li>
			<li>On the application form, locate the designated document upload section.</li>
			<li>Click on the "Choose File" or similar button to select the corresponding document files from your
				device.</li>
			<li>Upload the documents as instructed, ensuring that they meet the specified file format and size
				requirements.</li>
		</ol>

		<h3>Service Charge Payment:</h3>
		<ol>
			<li>Upon completing the application form and document upload, you will be directed to the payment section.
			</li>
			<li>The system will calculate the service charge based on the selected certificate type and any additional
				fees.</li>
			<li>Choose the preferred payment method (e.g., credit card, online banking).</li>
			<li>Enter the required payment details accurately and securely.</li>
			<li>Follow the prompts to complete the payment process.</li>
			<li>Upon successful payment, you will receive a payment confirmation.</li>
		</ol>

		<h3>Application Tracking:</h3>
		<ol>
			<li>After submitting the application and making the payment, you can track the status of your application.
			</li>
			<li>Log in to your account and navigate to the "Application Status" or similar section.</li>
			<li>Enter the unique application ID or other relevant details to access your application status.</li>
			<li>The system will display the current status of your application, such as "Pending Review," "In Progress,"
				"Approved," or "Rejected."</li>
			<li>Regularly check the status for any updates or notifications regarding your application.</li>
		</ol>

		<h3>Document Download and Postal Delivery:</h3>
		<ol>
			<li>Once your application is approved, you can download the digital version of your certificate.</li>
			<li>Visit the application status page and locate the "Download Certificate" button.</li>
			<li>Click on the button to download the PDF copy of your birth, death, marriage, or other certificate.</li>
			<li>If requested, provide the postal address during the application process.</li>
			<li>Your physical copy of the certificate will be delivered to the provided address.</li>
		</ol>
	</div>	
		<div class="footer">
			<div class="container">
				<div class="footer-grids">
					<!-- <div class="col-md-4 footer-grid-left">
					<h3>twitter feed</h3>
					<ul>
						<li><a href="#">But I must explain to you how all this mistaken idea of denouncing pleasure 
							<i>http//example.com</i></a><span>15 minutes ago</span></li>
						<li><a href="mailto:info@example.com" class="cols">@?USA</a> & <a href="mailto:info@example.com" class="cols">
							@example.com</a> <a href="#">praising pain was born and I will give you a complete account</a><span>45 minutes ago</span></li>
						<li><a href="#">On the other hand, we denounce with righteous indignation and 
						dislike men.</a><span>1 day ago</span></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grid-left">
					<h3>contact form</h3>
					<form>
						<input type="text" value="enter your full name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'enter your full name';}" required="">
						<input type="email" value="enter your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'enter your email address';}" required="">
						<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
						<input type="submit" value="Submit" >
					</form>
				</div>
				<div class="col-md-4 footer-grid-left">
					<h3>about us</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						<i>- Privatio Team</i></p>
				</div> -->
					<div class="clearfix"> </div>
				</div>
				<div class="footer-bottom">
					<div class="footer-bottom-left">
						<p> civil registry</p>
					</div>
					<!-- <div class="social_icons">
					<a href="#" class="icon icon-cube facebook"></a>
					<a href="#" class="icon icon-cube rss"></a>
					<a href="#" class="icon icon-cube instagram"></a>
					<a href="#" class="icon icon-cube t"></a>
					<div class="clearfix"> </div>
				</div> -->
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //footer -->
		<!-- for bootstrap working -->
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<!-- //for bootstrap working -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function () {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		<!-- //here ends scrolling icon -->
</body>

</html>