{% extends 'common/common.html' %}

{% block content %}
{% for m in messages %}
<script>
alert('{{m}}')
</script>
{% endfor %}
<!-- mail --><center>
	<main class="d-flex justify-content-center align-items-center vh-100 bg-light"> 
		<section class="shadow-lg p-4 rounded bg-white text-center" style="width: 350px;">
			<h2 class="mb-4 text-primary">Log In</h2><br>
			<form method="post">{% csrf_token %}
				<input type="email" name="email" class="form-control mb-3 border-dark" placeholder="Email" required><br>
				<input type="password" name="password" class="form-control mb-3 border-dark" placeholder="Password" required><br>
				<button type="submit" class="btn btn-primary w-100">Login Now</button>
			</form>
		</section>
	</main>
</center>

{% endblock %}