{% extends 'USER/common.html' %}
{% block content %}
{% load static %}

{% for message in messages %}
  <script>
    alert('{{ message }}');
  </script>
{% endfor %}

<br><br><br>

<div class="dashboard-section pt-120 pb-120">
  <div class="table-wrapper container-fluid">
    <h3 class="text-capitalize text-success">Feedback</h3>

    <table class="eg-table order-table table mb-0">
      <thead>
        <tr class="bg-dark">
          <th class="text-light">Feedback</th>
          <th class="text-light">Worker</th>
          <th class="text-light">Job Type</th>
          <th class="text-light">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr class="text-capitalize">
          <td>{{ i.feedback }}</td>
          <td>
            <img src="/static/assets/{{ i.worker.image }}" alt="Worker Photo" class="rounded-circle" width="40" height="40">
            {{ i.worker.name }}
          </td>
          <td>{{ i.worker.job_type }}</td>
          <td>
            {% if i.rating == "5" %}
              ⭐⭐⭐⭐⭐
            {% elif i.rating == "4" %}
              ⭐⭐⭐⭐
            {% elif i.rating == "3" %}
              ⭐⭐⭐
            {% elif i.rating == "2" %}
              ⭐⭐
            {% elif i.rating == "1" %}
              ⭐
            {% else %}
              No rating given
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="4" class="text-center">No feedback available</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
