{% extends "admin/common.html" %}
{% load static %}

{% block content %}
<main>

<section class="section banner-inner">
    <div class="hero-container">
        <h1>All Part Bookings</h1>
        <p>Manage part orders</p>
    </div>
</section>

<section class="section">
<div class="hero-container">

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>User</th>
            <th>Part</th>
            <th>Image</th>
            <th>Qty</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    {% for b in bookings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ b.user.full_name }}</td>
            <td>{{ b.part.part_name }}</td>

            <td>
                <img src="{{ b.part.image.url }}"
                     style="width:80px; height:60px; object-fit:cover;">
            </td>

            <td>{{ b.quantity }}</td>
            <td>₹{{ b.total_price }}</td>

            <td>
                <span class="
                    {% if b.status == 'Pending' %}text-warning{% endif %}
                    {% if b.status == 'Approved' %}text-primary{% endif %}
                    {% if b.status == 'Paid' %}text-success{% endif %}
                    {% if b.status == 'Delivered' %}text-info{% endif %}
                ">
                    {{ b.status }}
                </span>
            </td>

            <td>
                {% if b.status == 'Paid' %}
                    <a href="{% url 'mark_part_delivered' b.id %}"
                       class="btn btn-success btn-sm"
                       onclick="return confirm('Mark as Delivered?');">
                       Delivered
                    </a>
                {% elif b.status == 'Delivered' %}
                    <span class="badge bg-info">Completed</span>
                {% else %}
                    ---
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7" class="text-center">No bookings found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</section>

</main>
{% endblock %}
