{% extends "admin/common.html" %}
{% load static %}

{% block content %}
<main>

<section class="section banner-inner">
    <div class="hero-container">
        <h1>Add Services</h1>
        <p>Admin panel</p>
    </div>
</section>

<section class="section">
    <div class="hero-container">
        <div class="row row-cols-1">

            <div class="col">
                <div class="card card-appointment">

                    <h3>Add Service</h3>

                    <form method="POST" enctype="multipart/form-data" class="form">
                        {% csrf_token %}

                        <input type="text" name="service_name"
                               placeholder="Service Name (Eg: Engine Tuning)" required>

                        <textarea name="description" rows="4"
                                  placeholder="Service Description" required></textarea>

                        <input type="number" step="0.01" name="price"
                               placeholder="Price" required>

                        <select name="operation" required>
                            <option value="">Select Workshop Operation</option>
                            <option value="Engine Modification">Engine Modification</option>
                            <option value="Paint & Wrap">Paint & Wrap</option>
                            <option value="Interior Customization">Interior Customization</option>
                            <option value="Audio & Infotainment">Audio & Infotainment</option>
                            <option value="Lighting & Accessories">Lighting & Accessories</option>
                            <option value="Suspension & Wheels">Suspension & Wheels</option>
                        </select>


                        <input type="file" name="image" required>

                        <button type="submit" class="btn btn-accent">
                            Add Service
                        </button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

</main>
{% endblock %}
