{% extends "admin/common.html" %}
{% load static %}

{% block content %}
<main>

<section class="section banner-inner">
    <div class="hero-container">
        <h1>Assign Booking</h1>
    </div>
</section>

<section class="section">
    <div class="hero-container">
        <div class="card card-appointment">

            <h3>Service: {{ booking.service.service_name }}</h3>
            <p><strong>Operation:</strong> {{ booking.service.operation }}</p>
            <p><strong>Car:</strong> {{ booking.car_name }} ({{ booking.car_number }})</p>
            <p><strong>Problem Description:</strong> {{ booking.problem_description }}</p>
            <p>
                <strong>Car Image:</strong><br>
                <img src="{{ booking.car_image.url }}" width="200" height="150" style="object-fit:cover; border-radius:10px;">
            </p>

            <form method="POST" class="form">
                {% csrf_token %}

                <select name="employee" required>
                    <option value="">Select Employee</option>
                    {% for e in employees %}
                        <option value="{{ e.id }}">
                            {{ e.full_name }} ({{ e.operation }})
                        </option>
                    {% empty %}
                        <option disabled>No employees available</option>
                    {% endfor %}
                </select>
                


                <button type="submit" class="btn btn-accent">
                    Assign Employee
                </button>
            </form>

        </div>
    </div>
</section>

</main>
{% endblock %}
