{% extends "admin/common.html" %}
{% load static %}

{% block content %}
<main>

<section class="section banner-inner">
    <div class="hero-container">
        <h1>Users</h1>
        <p>View all registered users</p>
    </div>
</section>

<section class="section">
    <div class="hero-container">
        <div class="row row-cols-xl-2 row-cols-1 grid-spacer-3">

            <!-- LEFT INFO -->
            <div class="col">
                <div class="d-flex flex-column gspace-2">
                    <h2>User Management</h2>
                    <p>List of all registered users</p>
                </div>
            </div>

            <!-- RIGHT TABLE -->
            <div class="col">
                <div class="card card-appointment">
                    <h3>User List</h3>

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Image</th>
                            </tr>

                            {% for u in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ u.full_name }}</td>
                                <td>{{ u.email }}</td>
                                <td>{{ u.mobile }}</td>
                                <td>
                                    <img src="{{ u.profile_image.url }}" width="50">
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No users found</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

</main>
{% endblock %}
