{% extends 'common/eccommon.html' %}
{% load static %}

{% block content %}


<div class="container">
    <center>
        <h1 class="mt-4 mb-4"><b>Requests</b></h1>
    </center>

    {% if res %}
        <div class="row justify-content-center">
            {% for data in res %}
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Personal Information</h5>
                            <p><strong>Full Name:</strong> {{ data.name }}</p>
                            <p><strong>Father's Name:</strong> {{ data.father }}</p>
                            <p><strong>Mother's Name:</strong> {{ data.mother }}</p>
                            <p><strong>Gender:</strong> {{ data.gender }}</p>
                            <p><strong>Marital Status:</strong> {{ data.martial }}</p>
                            <p><strong>Date of Birth:</strong> {{ data.dob }}</p>
                            <p><strong>Place of Birth:</strong> {{ data.place }}</p>
                            <p><strong>Blood Group:</strong> {{ data.blood }}</p>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Address Information</h5>
                            <p><strong>District:</strong> {{ data.district }}</p>
                            <p><strong>Address:</strong> {{ data.address }}</p>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Identification</h5>
                            <p><strong>Identification Proof:</strong> {{ data.identification }}</p>
                            <p><strong>User Name:</strong> {{ data.user.name }}</p>
                            <p><strong>Address of Applicant:</strong> {{ data.user.address }}</p>
                            <p><strong>Phone Number:</strong> {{ data.user.phone_number }}</p>
                            <p><strong>Aadhar Number:</strong> {{ data.user.aadhar }}</p>
                            <p><strong>Email:</strong> {{ data.user.email }}</p>
                            <p><strong>ID Type Uploading:</strong> {{ data.identification }}</p>
                            
                            <p><strong>ID Proof:</strong> 
                                <a href="{% static 'media/' %}{{ data.idproof }}" class="btn btn-link">View</a>
                            </p>
                            <p><strong>Photo:</strong> 
                                <img src="{% static 'media/' %}{{ data.photo }}" class="img-fluid rounded" width="100">
                            </p>
                            <p><strong>Address Proof:</strong> 
                                <a href="{% static 'media/' %}{{ data.addressproof }}" class="btn btn-link">View Address Proof</a>
                            </p>
                        </div>
                    </div>

                    <div class="text-center mb-4">
                        <a href="/approvevoters?id={{data.id}}" class="btn btn-success">Approve</a>
                        <a href="/deletevotersec?id={{data.id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h4 class="text-muted">No requests available.</h4>
        </div>
    {% endif %}
</div>


{% endblock %}
