{% extends 'police/common.html' %}

{% block content %}

{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}

<main class="container mt-5">
    <h2 class="mb-4">Add Report for {{ missing.person_name }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Case Evidence:</label>
            <textarea name="case_evidence" rows="4" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Description:</label>
            <textarea name="description" rows="4" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Upload Report File:</label>
            <input type="file" name="report_file" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit Report</button>
    </form>
</main>
{% endblock %}
