{% extends "ngo/ngo_base.html" %}
{% load static %}
{% block content %}

<div class="stricky-header stricked-menu main-menu main-menu-three">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->



<!-- Main Slider Two Start -->
<section class="main-slider-two" id="home">
    <div class="main-slider-two__carousel owl-carousel owl-theme">
        <div class="item">
            <div class="main-slider-two__bg"
                style="background-image: url({% static "assets/images/backgrounds/slider-2-1.jpg" %});">
            </div>

            <div class="main-slider-two__shape-2 float-bob-y">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-2.png " %}"  alt="">
            </div>
            <div class="main-slider-two__shape-3 float-bob-x">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-3.png " %}" alt="">
            </div>
            <div class="main-slider-two__img-box">
                <div class="main-slider-two__img">
                    <img src="{% static "assets/images/resources/main-slider-two-img-1.png " %}" alt="">
                </div>
                <div class="main-slider-two__shape-1">
                    <img src="{% static "assets/images/shapes/main-slider-two-shape-1.png " %}" alt="">
                </div>
            </div>
            <div class="container">
                <div class="main-slider-two__content">
                    <div class="main-slider-two__sub-title-box">
                        <div class="main-slider-two__sub-title-shape"></div>
                        <h5 class="main-slider-two__sub-title">Charity foundation non profit</h5>
                    </div>
                    <h2 class="main-slider-two__title">Your <span>Compassion</span> <br> Their Hope</h2>
                    <p class="main-slider-two__text">Your Compassion Their Hope is a powerful and inspiring
                        choice <br>
                        for your charity website. It effectively captures the essence of <br>
                        your mission and the impact of support.</p>
                    <div class="main-slider-two__btn-box">
                        <a href="{% url 'view_login' %}" class="main-slider-two__btn thm-btn"><span>Donate
                                Now</span><i class="icon-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="main-slider-two__bg"
                style="background-image: url({% static "assets/images/backgrounds/slider-2-2.jpg" %});">
            </div>
            <div class="main-slider-two__shape-2 float-bob-y">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-2.png " %}" alt="">
            </div>
            <div class="main-slider-two__shape-3 float-bob-x">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-3.png " %}" alt="">
            </div>
            <div class="main-slider-two__img-box">
                <div class="main-slider-two__img">
                    <img src="{% static "assets/images/resources/main-slider-two-img-1.png " %}" alt="">
                </div>
                <div class="main-slider-two__shape-1">
                    <img src="{% static "assets/images/shapes/main-slider-two-shape-1.png " %}" alt="">
                </div>
            </div>
            <div class="container">
                <div class="main-slider-two__content">
                    <div class="main-slider-two__sub-title-box">
                        <div class="main-slider-two__sub-title-shape"></div>
                        <h5 class="main-slider-two__sub-title">Charity foundation non profit</h5>
                    </div>
                    <h2 class="main-slider-two__title">Your <span>Compassion</span> <br> Their Hope</h2>
                    <p class="main-slider-two__text">Your Compassion Their Hope is a powerful and inspiring
                        choice <br>
                        for your charity website. It effectively captures the essence of <br>
                        your mission and the impact of support.</p>
                    <div class="main-slider-two__btn-box">
                        <a href="{% url 'view_login' %}" class="main-slider-two__btn thm-btn"><span>Donate
                                Now</span><i class="icon-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="main-slider-two__bg"
                style="background-image: url({% static "assets/images/backgrounds/slider-2-3.jpg" %});">
            </div>
            <div class="main-slider-two__shape-2 float-bob-y">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-2.png " %}" alt="">
            </div>
            <div class="main-slider-two__shape-3 float-bob-x">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-3.png " %}" alt="">
            </div>
            <div class="main-slider-two__img-box">
                <div class="main-slider-two__img">
                    <img src="{% static "assets/images/resources/main-slider-two-img-1.png " %}" alt="">
                </div>
                <div class="main-slider-two__shape-1">
                    <img src="{% static "assets/images/shapes/main-slider-two-shape-1.png " %}" alt="">
                </div>
            </div>
            <div class="container">
                <div class="main-slider-two__content">
                    <div class="main-slider-two__sub-title-box">
                        <div class="main-slider-two__sub-title-shape"></div>
                        <h5 class="main-slider-two__sub-title">Charity foundation non profit</h5>
                    </div>
                    <h2 class="main-slider-two__title">Your <span>Compassion</span> <br> Their Hope</h2>
                    <p class="main-slider-two__text">Your Compassion Their Hope is a powerful and inspiring
                        choice <br>
                        for your charity website. It effectively captures the essence of <br>
                        your mission and the impact of support.</p>
                    <div class="main-slider-two__btn-box">
                        <a href="{% url 'view_login' %}" class="main-slider-two__btn thm-btn"><span>Donate
                                Now</span><i class="icon-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="main-slider-two__bg"
                style="background-image: url({% static "assets/images/backgrounds/slider-2-4.jpg" %});">
            </div>
            <div class="main-slider-two__shape-2 float-bob-y">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-2.png " %}" alt="">
            </div>
            <div class="main-slider-two__shape-3 float-bob-x">
                <img src="{% static "assets/images/shapes/main-slider-two-shape-3.png " %}" alt="">
            </div>
            <div class="main-slider-two__img-box">
                <div class="main-slider-two__img">
                    <img src="{% static "assets/images/resources/main-slider-two-img-1.png " %}" alt="">
                </div>
                <div class="main-slider-two__shape-1">
                    <img src="{% static "assets/images/shapes/main-slider-two-shape-1.png " %}" alt="">
                </div>
            </div>
            <div class="container">
                <div class="main-slider-two__content">
                    <div class="main-slider-two__sub-title-box">
                        <div class="main-slider-two__sub-title-shape"></div>
                        <h5 class="main-slider-two__sub-title">Charity foundation non profit</h5>
                    </div>
                    <h2 class="main-slider-two__title">Your <span>Compassion</span> <br> Their Hope</h2>
                    <p class="main-slider-two__text">Your Compassion Their Hope is a powerful and inspiring
                        choice <br>
                        for your charity website. It effectively captures the essence of <br>
                        your mission and the impact of support.</p>
                    <div class="main-slider-two__btn-box">
                        <a href="{% url 'view_login' %}" class="main-slider-two__btn thm-btn"><span>Donate
                                Now</span><i class="icon-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Main Slider Two Start -->

<!--Services Three Start -->
<section class="services-three" id="services">
    <div class="services-three__shape-1 float-bob-x">
        <img src="{% static "assets/images/shapes/services-three-shape-1.png " %}" alt="">
    </div>
    <div class="services-three__shape-2 float-bob-x">
        <img src="{% static "assets/images/shapes/services-three-shape-2.png " %}" alt="">
    </div>
    <div class="services-three__shape-3 float-bob-y">
        <img src="{% static "assets/images/shapes/services-three-shape-3.png " %}" alt="">
    </div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape"></div>
                <span class="section-title__tagline">Best Of Service</span>
            </div>
            <h2 class="section-title__title title-animation">The Best Service</h2>
        </div>
        <div class="row">
            <!--Services Three Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="services-three__single">
                    <div class="services-three__icon">
                        <span class="icon-clean-water"></span>
                    </div>
                    <h3 class="services-three__title"><a href="service-details.html">Clean Water
                            Initiatives</a></h3>
                    <p class="services-three__text">Providing access to safe drinking water through well
                        construction and purification projects.</p>
                    <div class="services-three__img">
                        <img src="{% static "assets/images/services/services-3-1.jpg" %}" alt="">
                    </div>
                </div>
            </div>
            <!--Services Three Single End-->
            <!--Services Three Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay=".5s">
                <div class="services-three__single">
                    <div class="services-three__icon">
                        <span class="icon-education-cap"></span>
                    </div>
                    <h3 class="services-three__title"><a href="service-details.html">Educational
                            Programs</a></h3>
                    <p class="services-three__text">Providing access to safe drinking water through well
                        construction and purification projects.</p>
                    <div class="services-three__img">
                        <img src="{% static "assets/images/services/services-3-2.jpg" %}" alt="">
                    </div>
                </div>
            </div>
            <!--Services Three Single End-->
            <!--Services Three Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay=".7s">
                <div class="services-three__single">
                    <div class="services-three__icon">
                        <span class="icon-food-security"></span>
                    </div>
                    <h3 class="services-three__title"><a href="service-details.html">Food Distribution</a>
                    </h3>
                    <p class="services-three__text">Providing access to safe drinking water through well
                        construction and purification projects.</p>
                    <div class="services-three__img">
                        <img src="{% static "assets/images/services/services-3-3.jpg" %}" alt="">
                    </div>
                </div>
            </div>
            <!--Services Three Single End-->
        </div>
        <div class="services-three__btn-box">
            <a href="#" class="services-three__btn thm-btn"><span>Join with Us</span><i
                    class="icon-arrow-up"></i></a>
        </div>
    </div>
</section>
<!--Services Three End -->

<!--About Three Start -->
<section class="about-three" id="about">
    <div class="about-three__shape-1">
        <img src="{% static "assets/images/shapes/about-three-shape-1.png " %}" alt="">
    </div>
    <div class="about-three__shape-2">
        <img src="{% static "assets/images/shapes/about-three-shape-2.png " %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="about-three__left">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <div class="section-title__tagline-shape"></div>
                            <span class="section-title__tagline">Our About</span>
                        </div>
                        <h2 class="section-title__title title-animation">Empowering Lives Through
                            Compassion.</h2>
                    </div>
                    <div class="about-three__left-img-and-content">
                        <div class="about-three__left-img-1">
                            <img src="{% static "assets/images/resources/about-three-left-img-1.jpg" %}" alt="">
                        </div>
                        <div class="about-three__left-content">
                            <p class="about-three__left-text">Empowering Lives Through Compassion" is a
                                <br> powerful and inspiring heading that perfectly
                                <br> captures the essence of your charity's
                                <br> mission. It’s a great choice</p>
                            <ul class="about-three__left-points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-education-cap"></span>
                                    </div>
                                    <h4><a href="about.html">Education</a></h4>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-clean-water"></span>
                                    </div>
                                    <h4><a href="about.html">Water</a></h4>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-education-cap"></span>
                                    </div>
                                    <h4><a href="about.html">Medical</a></h4>
                                </li>
                            </ul>
                            <div class="about-three__left-btn-box">
                                <a href="about.html" class="about-three__left-btn thm-btn"><span>Read
                                        more</span><i class="icon-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 wow fadeInRight" data-wow-delay=".3s">
                <div class="about-three__right">
                    <div class="about-three__right-img">
                        <img src="{% static "assets/images/resources/about-three-right-img-1.png " %}" alt="">
                        <div class="about-three__round-text-box">
                            <div class="about-three__round-text-box-inner  rotate-me">
                                <div class="about-three__curved-circle">
                                    - years of experience - years of experience
                                </div>
                            </div>
                            <div class="about-three__count count-box">
                                <h3 class="count-text" data-stop="25" data-speed="1500">00</h3>
                                <span>+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Three End -->

<!--Courses Three Start -->
<br><br>

<!--Project One Start -->
<section class="project-one">
    <div class="project-one__bg-color">
        <div class="project-one__bg"
            style="background-image: url({% static "assets/images/backgrounds/project-one-bg.jpg" %});"></div>
    </div>
    <div class="project-one__shape-1 float-bob-y">
        <img src="{% static "assets/images/shapes/project-one-shape-1.png " %}" alt="">
    </div>
    <div class="section-title text-center sec-title-animation animation-style1">
        <div class="section-title__tagline-box">
            <div class="section-title__tagline-shape"></div>
            <span class="section-title__tagline">Our Recent Project</span>
        </div>
        <h2 class="section-title__title title-animation">One Project At A Time</h2>
    </div>
    <div class="container">
        <div class="project-one__carousel owl-theme owl-carousel">
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-1.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-1.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-2.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-2.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-3.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-3.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-4.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-4.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-5.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-5.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-1.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-1.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-2.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-2.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-3.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-3.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-4.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-4.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-5.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-5.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-1.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-1.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-2.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-2.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-3.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-3.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-4.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-4.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-5.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-5.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-1.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-1.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-2.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-2.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-3.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-3.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-4.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-4.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
            <!--Project One Single Start-->
            <div class="item">
                <div class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            <img src="{% static "assets/images/project/project-1-5.jpg" %}" alt="">
                        </div>
                        <div class="project-one__arrow">
                            <a href="{% static "assets/images/project/project-1-5.jpg" %}" class="img-popup"><span
                                    class="icon-arrow-up"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Project One Single End-->
        </div>
    </div>
</section>
<!--Project One End -->

<!--Process One Start -->
<section class="process-one">
    <div class="process-one__shape-2 float-bob-x">
        <img src="{% static "assets/images/shapes/process-one-shape-2.png " %}" alt="">
    </div>
    <div class="process-one__shape-3 float-bob-y">
        <img src="{% static "assets/images/shapes/process-one-shape-3.png " %}" alt="">
    </div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style2">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape-2"></div>
                <span class="section-title__tagline">Working Process</span>
            </div>
            <h2 class="section-title__title title-animation">Our Working Process</h2>
        </div>
        <div class="process-one__inner">
            <div class="process-one__shape-1">
                <img src="{% static "assets/images/shapes/process-one-shape-1.png " %}" alt="">
            </div>
            <ul class="row list-unstyled">
                <li class="col-xl-4 col-lg-4">
                    <div class="process-one__single">
                        <div class="process-one__img-box">
                            <div class="process-one__img">
                                <img src="{% static "assets/images/resources/process-1-1.jpg" %}" alt="">
                                <div class="process-one__count"></div>
                            </div>
                        </div>
                        <div class="process-one__content">
                            <h3 class="process-one__title"><a href="about.html">Identifying Needs</a></h3>
                            <p class="process-one__text">We start by listening to communities and
                                conducting thorough assessments</p>
                        </div>
                    </div>
                </li>
                <li class="col-xl-4 col-lg-4">
                    <div class="process-one__single">
                        <div class="process-one__img-box">
                            <div class="process-one__img">
                                <img src="{% static "assets/images/resources/process-1-2.jpg" %}" alt="">
                                <div class="process-one__count"></div>
                            </div>
                        </div>
                        <div class="process-one__content">
                            <h3 class="process-one__title"><a href="about.html">Empowering Lives</a></h3>
                            <p class="process-one__text">We start by listening to communities and
                                conducting thorough assessments</p>
                        </div>
                    </div>
                </li>
                <li class="col-xl-4 col-lg-4">
                    <div class="process-one__single">
                        <div class="process-one__img-box">
                            <div class="process-one__img">
                                <img src="{% static "assets/images/resources/process-1-3.jpg" %}" alt="">
                                <div class="process-one__count"></div>
                            </div>
                        </div>
                        <div class="process-one__content">
                            <h3 class="process-one__title"><a href="about.html">powerful and inspiring</a></h3>
                            <p class="process-one__text">We start by listening to communities and
                                conducting thorough assessments</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--Process One End -->



<!--Testimonial Three Start -->
<section class="testimonial-three">
    <div class="testimonial-three__shape-1 img-bounce">
        <img src="{% static "assets/images/shapes/testimonial-three-shape-1.png " %}" alt="">
    </div>
    <div class="container">
        <div class="testimonial-three__inner">
            <div class="testimonial-three__round-text-box">
                <div class="testimonial-three__round-text-box-inner  rotate-me">
                    <div class="testimonial-three__curved-circle">
                        - years of experience - years of experience
                    </div>
                </div>
                <div class="testimonial-three__count count-box">
                    <h3 class="count-text" data-stop="25" data-speed="1500">00</h3>
                    <span>+</span>
                </div>
            </div>
            <div class="testimonial-three__carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-three__single">
                        <form class="testimonial-three__rating">
                            <input type="radio" id="10-stars" name="rating" value="5">
                            <label for="10-stars" class="star">&#9733;</label>
                            <input type="radio" id="9-stars" name="rating" value="4">
                            <label for="9-stars" class="star">&#9733;</label>
                            <input type="radio" id="8-stars" name="rating" value="3">
                            <label for="8-stars" class="star">&#9733;</label>
                            <input type="radio" id="7-stars" name="rating" value="2">
                            <label for="7-stars" class="star">&#9733;</label>
                            <input type="radio" id="6-star" name="rating" value="1">
                            <label for="6-star" class="star">&#9733;</label>
                        </form>
                        <p class="testimonial-three__text">The educational programs offered by Chioary have
                            changed <br>
                            my life. I was able to complete my education and now have the skills to <br>
                            support my family. I’m forever grateful.”</p>
                        <div class="testimonial-three__client-info">
                            <h4 class="testimonial-three__client-name">Courtney Henry</h4>
                            <p class="testimonial-three__client-sub-title">General manager</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-three__single">
                        <form class="testimonial-three__rating">
                            <input type="radio" id="15-stars" name="rating" value="5">
                            <label for="15-stars" class="star">&#9733;</label>
                            <input type="radio" id="14-stars" name="rating" value="4">
                            <label for="14-stars" class="star">&#9733;</label>
                            <input type="radio" id="13-stars" name="rating" value="3">
                            <label for="13-stars" class="star">&#9733;</label>
                            <input type="radio" id="12-stars" name="rating" value="2">
                            <label for="12-stars" class="star">&#9733;</label>
                            <input type="radio" id="11-star" name="rating" value="1">
                            <label for="11-star" class="star">&#9733;</label>
                        </form>
                        <p class="testimonial-three__text">The educational programs offered by Chioary have
                            changed <br>
                            my life. I was able to complete my education and now have the skills to <br>
                            support my family. I’m forever grateful.”</p>
                        <div class="testimonial-three__client-info">
                            <h4 class="testimonial-three__client-name">Mate Henry</h4>
                            <p class="testimonial-three__client-sub-title">General manager</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-three__single">
                        <form class="testimonial-three__rating">
                            <input type="radio" id="20-stars" name="rating" value="5">
                            <label for="20-stars" class="star">&#9733;</label>
                            <input type="radio" id="19-stars" name="rating" value="4">
                            <label for="19-stars" class="star">&#9733;</label>
                            <input type="radio" id="18-stars" name="rating" value="3">
                            <label for="18-stars" class="star">&#9733;</label>
                            <input type="radio" id="17-stars" name="rating" value="2">
                            <label for="17-stars" class="star">&#9733;</label>
                            <input type="radio" id="16-star" name="rating" value="1">
                            <label for="16-star" class="star">&#9733;</label>
                        </form>
                        <p class="testimonial-three__text">The educational programs offered by Chioary have
                            changed <br>
                            my life. I was able to complete my education and now have the skills to <br>
                            support my family. I’m forever grateful.”</p>
                        <div class="testimonial-three__client-info">
                            <h4 class="testimonial-three__client-name">Henry Nichole</h4>
                            <p class="testimonial-three__client-sub-title">General manager</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-three__single">
                        <form class="testimonial-three__rating">
                            <input type="radio" id="25-stars" name="rating" value="5">
                            <label for="25-stars" class="star">&#9733;</label>
                            <input type="radio" id="24-stars" name="rating" value="4">
                            <label for="24-stars" class="star">&#9733;</label>
                            <input type="radio" id="23-stars" name="rating" value="3">
                            <label for="23-stars" class="star">&#9733;</label>
                            <input type="radio" id="22-stars" name="rating" value="2">
                            <label for="22-stars" class="star">&#9733;</label>
                            <input type="radio" id="21-star" name="rating" value="1">
                            <label for="21-star" class="star">&#9733;</label>
                        </form>
                        <p class="testimonial-three__text">The educational programs offered by Chioary have
                            changed <br>
                            my life. I was able to complete my education and now have the skills to <br>
                            support my family. I’m forever grateful.”</p>
                        <div class="testimonial-three__client-info">
                            <h4 class="testimonial-three__client-name">Rob Nichole</h4>
                            <p class="testimonial-three__client-sub-title">General manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial Three End -->


{% load static %}

<!-- Blog Three Start -->
<section class="blog-three" id="blog">
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style2">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape-2"></div>
                <span class="section-title__tagline">Our Latest Blog</span>
            </div>
            <h2 class="section-title__title title-animation">How Collective Efforts</h2>
        </div>
        <div class="blog-three__carousel owl-theme owl-carousel">
            {% for donation in donations %}
            <!-- Blog Three Single Start -->
            <div class="item">
                <div class="blog-three__single">
                    <div class="blog-three__img-box">
                        <div class="blog-three__img">
                            {% if donation.image %}
                                <img src="{{ donation.image.url }}" alt="{{ donation.title }}">
                            {% else %}
                                <img src="{% static 'assets/images/blog/default-image.jpg' %}" alt="No Image">
                            {% endif %}
                            <div class="blog-three__plus">
                                <a href="#"><span class="icon-plus"></span></a>
                            </div>
                        </div>
                        <div class="blog-three__tag-and-date">
                            <p class="blog-three__tag">{{ donation.category }}</p>
                            <p class="blog-three__date">{{ donation.start_date }}</p>
                        </div>
                    </div>
                    <div class="blog-three__content">
                        <ul class="blog-three__meta list-unstyled">
                            <li>
                                <a href="#"><span class="icon-user-two"></span> By {{ donation.ngo.name }}</a>
                            </li>
                        </ul>
                        <h3 class="blog-three__title"><a href="#">{{ donation.title }}</a></h3>
                        <p>{{ donation.description|truncatewords:15 }}</p>
                        <div class="blog-three__read-more">
                            <a href="#">Read more <span class="icon-arrow-up"></span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Three Single End -->
            {% empty %}
            <p class="text-center">No donations available.</p>
            {% endfor %}
        </div>
    </div>
</section>

<!--Blog Three End -->
{% endblock %}