{% extends "common.html" %}

{% load static %}
{% block content %}


<!-- Slider Section Start -->
<div class="slider index2">
    <div class="all-slide owl-item">					
        <div class="single-slide" style="background-image: url('{% static 'img/slide2.jpg' %}');">
            <div class="slider-overlay"></div>
            <div class="slider-text">					
                <div class="slider-wraper">					
                    <h1>Grow Up your business more<span> secure</span></h1>
                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet, nisl imperdiet nec ad morbi, sodales ipsum, consequat purus vitae integer maecenas. Arcu sit, sit velit at ut eu phasellus</p>
                    <ul>
                        <li><a href="#">Read More</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>			
        <div class="single-slide" style="background-image:url('{% static 'img/slide1.jpg ' %}');">
            <div class="slider-overlay"></div>
            <div class="slider-text">						
                <div class="slider-wraper">					
                    <h1>We Provide <span>Verified & Secured</span> Service for company</h1>
                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet, nisl imperdiet nec ad morbi, sodales ipsum, consequat purus vitae integer maecenas.</p>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Read More</a></li>
                    </ul>
                </div>
            </div>
        </div>																
    </div>	
</div>
<!-- Slider Section End -->	
<!-- About Start -->
<div class="about-sec pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="about-desc">
                    <div class="sec-title">
                        <h1><span>About </span>Our Company</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>						
                    </div>	
                    <div class="about-countup">
                        <div class="counting-inner">
                            <div class="countup-text">
                                <h2 class="counter">250</h2>
                                <h4>Project Done</h4>						
                            </div>
                        </div>						
                        <div class="counting-inner">
                            <div class="countup-text">
                                <h2 class="counter">280</h2>
                                <h4>happy client</h4>						
                            </div>
                        </div>							
                        <div class="counting-inner">
                            <div class="countup-text">
                                <h2 class="counter">240</h2>
                                <h4>Our employees</h4>						
                            </div>
                        </div>						
                    </div>
                </div>	
            </div>	
            <div class="col-md-5">
                <div class="about-us-img">
                    <img src="{% static "img/about.jpg" %}" alt=""/>
                </div>
            </div>					
        </div>
    </div>		
</div>
<!-- About End -->		
		
<!-- Service Start -->	
	
<!-- Service End -->	
<!-- Project Section Start -->
<div class="project-sec pt-100 pb-70">
    <div class="container">	
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h1><span>Our Gallery </span>Photo</h1>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet.</p>
                </div>
            </div>
        </div>		
        <div class="row">								
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="item">
                    <div class="project-thumb">
                        <img src="{% static "img/g1.jpg" %}" alt="" />
                    </div>
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href="{% static "img/g1.jpg" %}" class="gallery-photo"><i class="fa fa-expand"></i></a>
                            <a href="project-details.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>						
            </div>				
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="item">
                    <div class="project-thumb">
                        <img src="{% static "img/g2.jpg" %}" alt="" />
                    </div>
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href="{% static "img/g2.jpg" %}" class="gallery-photo"><i class="fa fa-expand"></i></a>
                            <a href="project-details.html"><i class="fa fa-link"></i></a>									
                        </div>
                    </div>
                </div>						
            </div>				
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="item">
                    <div class="project-thumb">
                        <img src="{% static "img/g3.jpg" %}" alt="" />
                    </div>
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href="{% static "img/g3.jpg" %}" class="gallery-photo"><i class="fa fa-expand"></i></a>
                            <a href="project-details.html"><i class="fa fa-link"></i></a>									
                        </div>
                    </div>
                </div>						
            </div>				
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="item">
                    <div class="project-thumb">
                        <img src="{% static "img/g4.jpg" %}" alt="" />
                    </div>
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href="{% static "img/g4.jpg" %}" class="gallery-photo"><i class="fa fa-expand"></i></a>
                            <a href="project-details.html"><i class="fa fa-link"></i></a>									
                        </div>
                    </div>
                </div>						
            </div>									
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="item">
                    <div class="project-thumb">
                        <img src="{% static "img/g5.jpg" %}" alt="" />
                    </div>
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href="{% static "img/g5.jpg" %}" class="gallery-photo"><i class="fa fa-expand"></i></a>
                            <a href="project-details.html"><i class="fa fa-link"></i></a>									
                        </div>
                    </div>
                </div>						
            </div>	
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="item">
                    <div class="project-thumb">
                        <img src="{% static "img/g6.jpg" %}" alt="" />
                    </div>
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href="{% static "img/g6.jpg" %}" class="gallery-photo"><i class="fa fa-expand"></i></a>
                            <a href="project-details.html"><i class="fa fa-link"></i></a>									
                        </div>
                    </div>
                </div>						
            </div>			
        </div>
    </div>		
</div>


<div class="appoitment-area">
		<div class="images-overlay"></div>
		<div class="container">			
			<div class="row">	
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="faq-sec">				
						<div class="faq-single">
							<div class="media">
								<div class="media-left">
									<div class="icon">
										<img src="img/icon/question.png" alt=""/>
									</div>						
								</div>						
								<div class="media-body">
									<h2>Can I help 24/7</h2>
									<p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed mattis, libero elit mi suscipit.</p>
								</div>				
							</div>						
						</div>				
						<div class="faq-single">
							<div class="media">
								<div class="media-left">
									<div class="icon">
										<img src="img/icon/question.png" alt=""/>
									</div>						
								</div>						
								<div class="media-body">
									<h2>Can I refund payment</h2>
									<p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed mattis, libero elit mi suscipit.</p>
								</div>				
							</div>						
						</div>					
						<div class="faq-single">
							<div class="media">
								<div class="media-left">
									<div class="icon">
										<img src="img/icon/question.png" alt=""/>
									</div>							
								</div>						
								<div class="media-body">
									<h2>How many year's exprience</h2>
									<p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed mattis, libero elit mi suscipit.</p>
								</div>				
							</div>						
						</div>						
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="appointment-form">		
						<h2>Get A Quote</h2>
						<form action="https://themeearth.com/tf/html/securepress/index-mail.php" method="post">
							<fieldset>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="sngl-field">
										<input placeholder="Name" name="name" type="text"/>
									</div>
								</div>						
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="sngl-field">
										<input placeholder="E-mail" name="email" type="email" required/>
									</div>
								</div>																
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="sngl-field">
										<input placeholder="Phone" name="phone" type="text"/>
									</div>
								</div>					
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="sngl-field">
										<input placeholder="Time" name="time" type="text"/>
									</div>
								</div>									
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="sngl-field">
										<input placeholder="Date" name="date" type="text"/>
									</div>
								</div>																
 								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="sngl-field">
										<div class="select-arrow">
											<select name="location">
												<option selected disabled hidden>Type of location</option>
												<option value="Albania">Albania</option>
												<option value="Algeria">Algeria</option>
												<option value="Andorra">Andorra</option>
												<option value="Argentina">Argentina</option>
												<option value="Australia">Australia</option>
											</select>							
										</div>
									</div>
								</div> 					
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="sngl-field">
										<textarea placeholder="Message" name="message"></textarea>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="filed-submitbtn">
										<input value="Submit Message" name="submit" type="submit"/>
									</div>
								</div>	
							</fieldset>	
						</form>	
					</div>
				</div>				
			</div>					
		</div>
	</div>	
	<!-- Appointment Area End -->	
	<!-- Blog Section Start -->
	<div class="blog-sec pt-100 pb-80">
		<div class="container">	
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="sec-title">
						<h1><span>Recent</span> News</h1>
						<p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet.</p>
					</div>
				</div>
			</div>			
			<div class="row">								
				<div class="col-md-4 col-sm-6">	
					<div class="media">	
						<div class="single-post">	
							<div class="blog-thumb">
								<img src="img/g1.jpg" alt=""/>
								<a href="blog-details.html">Read More</a>
							</div>											
							<div class="media-body">
								<div class="single-post-desc">									
									<h2><a href="blog-details.html">Post Title Will Be Here</a></h2>
									<p>Lorem ipsum dolor sit amet, vitae mattis vehicula scelerisque suscipit donec, tortor duis phasellus vivamus wisi</p>
									<div class="post-date">
										<ul>
											<li><a href="#"><i class="fa fa-calendar"></i>24 May 2017</a></li>
											<li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
											<li><a href="#"><i class="fa fa-pencil"></i>News</a></li>
										</ul>
									</div>					
								</div>
							</div>
						</div>				
					</div>				
				</div>					
				<div class="col-md-4 col-sm-6">	
					<div class="media">	
						<div class="single-post">	
							<div class="blog-thumb">
								<img src="img/g2.jpg" alt=""/>
								<a href="blog-details.html">Read More</a>
							</div>											
							<div class="media-body">
								<div class="single-post-desc">									
									<h2><a href="blog-details.html">Post Title Will Be Here</a></h2>
									<p>Lorem ipsum dolor sit amet, vitae mattis vehicula scelerisque suscipit donec, tortor duis phasellus vivamus wisi</p>
									<div class="post-date">
										<ul>
											<li><a href="#"><i class="fa fa-calendar"></i>24 May 2017</a></li>
											<li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
											<li><a href="#"><i class="fa fa-pencil"></i>News</a></li>
										</ul>
									</div>					
								</div>
							</div>
						</div>				
					</div>				
				</div>					
				<div class="col-md-4 col-sm-6">	
					<div class="media">	
						<div class="single-post">	
							<div class="blog-thumb">
								<img src="img/g3.jpg" alt=""/>
								<a href="blog-details.html">Read More</a>
							</div>											
							<div class="media-body">
								<div class="single-post-desc">									
									<h2><a href="blog-details.html">Post Title Will Be Here</a></h2>
									<p>Lorem ipsum dolor sit amet, vitae mattis vehicula scelerisque suscipit donec, tortor duis phasellus vivamus wisi</p>
									<div class="post-date">
										<ul>
											<li><a href="#"><i class="fa fa-calendar"></i>24 May 2017</a></li>
											<li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
											<li><a href="#"><i class="fa fa-pencil"></i>News</a></li>
										</ul>
									</div>					
								</div>
							</div>
						</div>				
					</div>				
				</div>				
				
			</div>
		</div>
	</div>



    <!-- Blog Section End -->
    <!-- Footer Start -->



	<!-- Blog Section Start -->
	<div class="blog-sec pt-100 pb-80">
		<div class="container">	
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="sec-title">
						<h1><span>Recent</span> News</h1>
						<p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet.</p>
					</div>
				</div>
			</div>			
			<div class="row">								
				<div class="col-md-4 col-sm-6">	
					<div class="media">	
						<div class="single-post">	
							<div class="blog-thumb">
								<img src="{% static "img/g1.jpg" %}" alt="blog image"/>
								<a href="blog-details.html">Read More</a>
							</div>											
							<div class="media-body">
								<div class="single-post-desc">									
									<h2><a href="blog-details.html">Post Title Will Be Here</a></h2>
									<p>Lorem ipsum dolor sit amet, vitae mattis vehicula scelerisque suscipit donec, tortor duis phasellus vivamus wisi</p>
									<div class="post-date">
										<ul>
											<li><a href="#"><i class="fa fa-calendar"></i>24 May 2017</a></li>
											<li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
											<li><a href="#"><i class="fa fa-pencil"></i>News</a></li>
										</ul>
									</div>					
								</div>
							</div>
						</div>				
					</div>				
				</div>					
				<div class="col-md-4 col-sm-6">	
					<div class="media">	
						<div class="single-post">	
							<div class="blog-thumb">
								<img src="{% static "img/g2.jpg" %}" alt="blog image"/>
								<a href="blog-details.html">Read More</a>
							</div>											
							<div class="media-body">
								<div class="single-post-desc">									
									<h2><a href="blog-details.html">Post Title Will Be Here</a></h2>
									<p>Lorem ipsum dolor sit amet, vitae mattis vehicula scelerisque suscipit donec, tortor duis phasellus vivamus wisi</p>
									<div class="post-date">
										<ul>
											<li><a href="#"><i class="fa fa-calendar"></i>24 May 2017</a></li>
											<li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
											<li><a href="#"><i class="fa fa-pencil"></i>News</a></li>
										</ul>
									</div>					
								</div>
							</div>
						</div>				
					</div>				
				</div>					
				<div class="col-md-4 col-sm-6">	
					<div class="media">	
						<div class="single-post">	
							<div class="blog-thumb">
								<img src="{% static "img/g3.jpg" %}" alt="blog image"/>
								<a href="blog-details.html">Read More</a>
							</div>											
							<div class="media-body">
								<div class="single-post-desc">									
									<h2><a href="blog-details.html">Post Title Will Be Here</a></h2>
									<p>Lorem ipsum dolor sit amet, vitae mattis vehicula scelerisque suscipit donec, tortor duis phasellus vivamus wisi</p>
									<div class="post-date">
										<ul>
											<li><a href="#"><i class="fa fa-calendar"></i>24 May 2017</a></li>
											<li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
											<li><a href="#"><i class="fa fa-pencil"></i>News</a></li>
										</ul>
									</div>					
								</div>
							</div>
						</div>				
					</div>				
				</div>				
				
			</div>
		</div>
	</div>


{% endblock %}