{% extends 'user/common.html' %}

{% load static %}
{% block content %}


{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}

<main class="container py-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
        <h3 class="text-center mb-4">User Profile</h3>
        <img src="{{ user_profile.image.url }}" alt="Profile Image" class="img-thumbnail mx-auto d-block mb-3" width="150">
        <p><strong>Name:</strong> {{ user_profile.name }}</p>
        <p><strong>Username:</strong> {{ user_profile.username }}</p>
        <p><strong>Email:</strong> {{ user_profile.email }}</p>
        <p><strong>Phone:</strong> {{ user_profile.phone }}</p>
        <p><strong>Address:</strong> {{ user_profile.address }}</p>
        <div class="text-center">
            <a href="{% url 'edit_profile_user' %}" class="btn btn-primary px-4 py-1">Edit Profile</a>
        </div>
    </div>
</main>

<br><br><br><br><br><br><br><br>
<br><br><br>
{% endblock %}
