{% extends "common.html" %}
{% load static %}

{% block content %}

<section class="section banner-home">
    <div class="hero-container">
        <div class="home-content-container">
            <div class="sub-heading-container">
                <h6>Discover the Passion and Expertise</h6>
            </div>
            <h1>REPAINT YOUR CAR TO THE NEXT LEVEL</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            <div class="d-flex flex-row align-items-center flex-wrap gspace-2">
                <a href="#" class="btn btn-accent">Discover More</a>
                <a href="#" class="btn btn-outline-accent">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
        <section class="section">
            <div class="hero-container">
                <div class="row row-cols-xl-2 row-cols-1 grid-spacer-3">
                    <div class="col col-xl-5">
                        <div class="image-container about-img">
                            <img src="{% static "assets/images/about55.jpg" %}" alt="About Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col col-xl-7">
                        <div class="d-flex flex-column gspace-2 justify-content-between h-100">
                            <div class="d-flex flex-column gspace-2">
                                <div class="sub-heading-container">
                                    <h6>Discover the Passion and Expertise</h6>
                                </div>
                                <h2>Make your car shine from the inside out</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum elit, at eleifend dui. Quisque lorem purus, tempus eu felis quis, consectetur lacinia ex. </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum elit, at eleifend dui. Quisque lorem purus, tempus eu felis quis, consectetur lacinia ex. Praesent maximus, magna id accumsan ultrices, ante tortor elementum dui, a ultricies arcu dolor non mi. Integer euismod eleifend nulla, vel cursus quam molestie sit amet. Duis in quam dolor. Aliquam vitae rutrum nibh.</p>
                                <div>
                                    <a href="#" class="btn btn-accent">Discover More</a>
                                </div>
                            </div>

                            <div class="about-divider"></div>

                            <div class="row row-cols-md-3 row-cols-1 grid-spacer-2">
                                <div class="col">
                                    <div class="d-flex flex-column gspace-2">
                                        <span class="about-stat-container">
                                            <div class="about-stat counter" data-target="99">0</div>
                                            <span class="about-stat-suffix">%</span>
                                        </span>
                                        <div class="sub-heading-container">
                                            <h5>Get to Know</h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex flex-column gspace-2">
                                        <span class="about-stat-container">
                                            <div class="about-stat counter" data-target="99">0</div>
                                            <span class="about-stat-suffix">%</span>
                                        </span>
                                        <div class="sub-heading-container">
                                            <h5>Get to Know</h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex flex-column gspace-2">
                                        <span class="about-stat-container">
                                            <div class="about-stat counter" data-target="99">0</div>
                                            <span class="about-stat-suffix">%</span>
                                        </span>
                                        <div class="sub-heading-container">
                                            <h5>Get to Know</h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Service Section -->
        <section class="section">
            <div class="hero-container">
                <div class="d-flex flex-column gspace-2">
                    <div class="sub-heading-container">
                        <h6>Discover the Passion and Expertise</h6>
                    </div>
                    <h2>From Our Garage to Your Driveway: The Story of Carsy’s Commitment to Superior Car Care and Customer Satisfaction</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum elit, at eleifend dui. Quisque lorem purus, tempus eu felis quis, consectetur lacinia ex. Praesent maximus, magna id accumsan ultrices, ante tortor elementum dui, a ultricies arcu dolor non mi. Integer euismod eleifend nulla, vel cursus quam molestie sit amet. Duis in quam dolor. Aliquam vitae rutrum nibh. In volutpat venenatis nisl, eu bibendum urna ornare vitae. Fusce at sodales purus. Nullam sed ornare urna. In a cursus mauris.</p>
                    <div class="row row-cols-xl-3 row-cols-1 grid-spacer-2">
                        <div class="col">
                            <div class="card card-service">
                                <div class="service-header">
                                    <div class="service-icon">
                                        <img src="{% static "assets/images/icon111.png" %}" alt="Service Icon" class="img-fluid">
                                    </div>
                                    <div class="service-tag">
                                        Rispol
                                    </div>
                                </div>
                                <div class="image-container service-image">
                                    <img src="{% static "assets/images/services11.jpg" %}" alt="Service Image" class="img-fluid">
                                </div>
                                <div class="service-content">
                                    <div class="sub-heading-container">
                                        <h3>Car Painting</h3>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum elit, at eleifend dui. Quisque lorem purus, tempus eu felis quis, consectetur lacinia ex.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-service">
                                <div class="service-header">
                                    <div class="service-icon">
                                        <img src="{% static "assets/images/icon444.png" %}" alt="Service Icon" class="img-fluid">
                                    </div>
                                    <div class="service-tag">
                                        Rispol
                                    </div>
                                </div>
                                <div class="image-container service-image">
                                    <img src="{% static "assets/images/service22.jpg" %}" alt="Service Image" class="img-fluid">
                                </div>
                                <div class="service-content">
                                    <div class="sub-heading-container">
                                        <h3>Rims Painting</h3>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum elit, at eleifend dui. Quisque lorem purus, tempus eu felis quis, consectetur lacinia ex.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-service">
                                <div class="service-header">
                                    <div class="service-icon">
                                        <img src="{% static "assets/images/icon333.png" %}" alt="Service Icon" class="img-fluid">
                                    </div>
                                    <div class="service-tag">
                                        Rispol
                                    </div>
                                </div>
                                <div class="image-container service-image">
                                    <img src="{% static "assets/images/services33.jpg" %}" alt="Service Image" class="img-fluid">
                                </div>
                                <div class="service-content">
                                    <div class="sub-heading-container">
                                        <h3>Spot Painting</h3>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum elit, at eleifend dui. Quisque lorem purus, tempus eu felis quis, consectetur lacinia ex.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
