{% extends "service/ser_common.html" %}

{% block content %}
<div class="container"><br><br><br>
    <h2 style="text-align: center; color: black;">Customer Feedback</h2>

    {% if feedbacks %}
        <table border="1" cellpadding="10" width="100%" style="color: black; text-align: center;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Customer</th>
                    <th>Title</th>
                    <th>Feedback</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Serial Number -->
                    <td>{{ feedback.user.name }}</td>
                    <td>{{ feedback.title }}</td>
                    <td>{{ feedback.feedback }}</td>
                    <td>{{ feedback.created_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="text-align: center; color: black;">No feedback available.</p>
    {% endif %}
</div><br><br><br><br>
{% endblock %}
