{% extends 'common/admincommon.html' %}

{% load static %} 
{% block content %}
{% for m in messages %}
<script>
alert('{{m}}')
</script>
    {% endfor %}
<div class="mail">
    <div class="container">
        <center><h2>Add Authority</h2></center>
        <center><div class="mail-grids" style="width: 1000px;margin-left: 350px;">
            <div class="col-md-6 mail-grid-left">
                <div class="mail-grid-left1">
                    {% for data in res %}
						<form method="post">
							{% csrf_token %}
                            <select id="bloodGroup" name="authority" class="form-control">
                                <option value="rto">RTO</option>
                                <option value="registrar">registrar</option>
                                <option value="election">election commissioner</option>
                                <option value="rpo">RPO</option>
                               </select><br>
							<input type="text" value="{{data.name}}"  placeholder="Officer in Charge" name="name"  required="">
							<input type="email" placeholder="Email" value="{{data.email}}" name="email"  required="">
							<input type="tel" minlength="10" maxlength="10" value="{{data.phone_number}}" placeholder="phone number" name="phone"  required="">
                            <select id="bloodGroup" name="district" class="form-control">
                                <option value="Alappuzha">Alappuzha</option>
                                <option value="Ernakulam">Ernakulam</option>
                                <option value="Idukki">Idukki</option>
                                <option value="Kannur">Kannur</option>
                                <option value="Kasaragod">Kasaragod</option>
                                <option value="Kollam">Kollam</option>
                                <option value="Kottayam">Kottayam</option>
                                <option value="Kozhikode">Kozhikode</option>
                                <option value="Malappuram">Malappuram</option>
                                <option value="Palakkad">Palakkad</option>
                                <option value="Pathanamthitta">Pathanamthitta</option>
                                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                <option value="Thrissur">Thrissur</option>
                                <option value="Wayanad">Wayanad</option>
                            </select><br>
                            {% endfor %}
							<input type="submit" value="Register Now" >
						</form>
					</div>
				</div></center>

{% endblock %}