{% extends 'WORKER/common.html' %}
{% block content %}
{% load static %}

<div class="page-content">

    <!-- Our Team Start --> 
    <section class="section-md">
        <div class="container">
            <div class="row">
                {% for i in data %}
                <div class="col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                    <div class="card shadow-sm">
                        <!-- Displaying image using media URL -->
                        <img src="{{ i.image.url }}" class="card-img-top img-fluid" alt="Worker Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Name: {{ i.name }}</h5>
                            <p class="card-text">Email: {{ i.email }}</p>
                            <p class="card-text">Place: {{ i.place }}</p>
                            <p class="card-text">Job: {{ i.job_type }}</p>
                            <p class="card-text">Phone: {{ i.phone }}</p>
                            <div class="mt-auto">
                                <a href="/updateWorker?id={{ i.id }}" class="btn btn-outline-success w-100">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!-- Our Team End --> 

</div>
{% endblock %}
