{% extends "user/common.html" %}
{% load static %}

{% block content %}
<main>

<!-- Banner -->
<section class="section banner-inner">
    <div class="hero-container">
        <h1>Our Services</h1>
        <p>Explore car modification services</p>
    </div>
</section>

<!-- Services -->
<section class="section">
    <div class="hero-container">

        <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 grid-spacer-3">

            {% for s in services %}
            <div class="col">
                <div class="card card-appointment h-100">

                    <img src="{{ s.image.url }}"
                         style="width:100%; height:200px; object-fit:cover; border-radius:10px;">

                    <h3 class="mt-2">{{ s.service_name }}</h3>

                    <p><strong>Operation:</strong> {{ s.operation }}</p>

                    <p>{{ s.description|truncatewords:18 }}</p>

                    <p><strong>Price:</strong> ₹{{ s.price }}</p>

                    <a href="{% url 'book_service' s.id %}" class="btn btn-accent mt-2">
                        Book Service
                    </a>


                </div>
            </div>
            {% empty %}
            <div class="col">
                <p>No services available</p>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

</main>
{% endblock %}
