{% extends 'admin/adminbase.html' %} {% block header %}

<style>
  body {
    overflow-x: hidden;
  }
  th {
    white-space: nowrap;
  }
</style>

<div class="inner-banner">
  <section class="w3l-breadcrumb py-5">
    <div class="container py-lg-5 py-md-3">
      <h2 class="title">Reports</h2>
    </div>
  </section>
</div>
<!-- banner bottom shape -->
<div class="position-relative">
  <div class="shape overflow-hidden">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- banner bottom shape -->
<section class="w3l-contact-7 py-5" id="contact">
  <div class="contacts-9 py-lg-5 py-md-4">
    <div class="container" style="margin-left: 100px">
      <div class="top-map">
        <div class="row map-content-9">
          <div class="col-lg-12">
            <table class="table table-bordered">
              <tr>
                <th>Category</th>
                <th>Location</th>
                <th>Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
              {% for i in rdata %}
              <tr>
                <td>{{i.disaster}}</td>
                <td>{{i.location}}</td>
                <td>{{i.date}}</td>
                <td>{{i.des}}</td>
                <td>
                  <div class="zoom">
                    <a href="/static/image/{{i.image}}" download="{{i.image}}">
                      <img id="img1" src="/static/image/{{i.image}}" alt="No"
                    /></a>
                  </div>
                </td>

                <td>
                  {% if i.status == "Pending" %}
                  <a href="/verifyreport?id={{i.id}}">Verify</a>
                  {% else %}
                  <p>Verified</p>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .zoom {
    padding: 0px;
    transition: transform 0.2s;
  }

  .zoom:hover {
    transform: scale(2.5);
  }

  #img1 {
    height: 70px;
    width: 70px;
  }
</style>

{% endblock %}
