{% extends 'admin/adminbase.html' %}
{% block header %}


<style>
    body {
      overflow-x: hidden;
    }
    th {
      white-space: nowrap;
    }
    #title{
      color: black;
    }
  </style>
  
  <div class="inner-banner">
    <section class="w3l-breadcrumb py-5">
      <div class="container py-lg-5 py-md-3">
        <h2 class="title">Complaints</h2>
      </div>
    </section>
  </div>
  
  <!-- <div class="container py-lg-1 py-md-2">
      <h2 class="title" id="title">Complaints</h2>
    </div> -->
  
  <!-- banner bottom shape -->
  <div class="position-relative">
    <div class="shape overflow-hidden">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  <!-- banner bottom shape -->
  <section class="w3l-contact-7 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
      <div class="container" style="margin-left: 250px">
        <div class="top-map">
          <div class="row map-content-9">
            <div class="col-lg-8">
              <table class="table table-bordered">
                <tr>
                  <th>Issue</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Action</th>
                  
                </tr>
                {% for i in abc %}
                <tr>
                  <td>{{i.issue}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.date}}</td>
                  
  
                  <td>
                    {% if i.reply == "No Reply" %}
                    <a href="/compreply?compid={{i.id}}">Reply</a>
                    {% else %}
                    <p>Replied</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  






{% endblock %}